
:root {
 --color-blue-slate: #4e596f;
 --color-bright-snow: #fafbf9;
 --color-shadow-grey: #1f232a;
 --color-white-smoke: #f5f5f5;
}


.layout {
 align-items: center;
 display: flex;
 height: 100vh;
 justify-content: center;
}


.buttons {
 display: flex;
 flex-direction: row;
}


.light {
 background-color: var(--color-white-smoke);
}


.dark {
 background-color: var(--color-shadow-grey);
}


.btn {
 align-items: center;
 border-radius: 0.5rem;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 display: flex;
 flex-direction: row;
 font-size: 0.85rem;
 margin-right: 1rem;
 padding: 0.5rem;
 white-space: nowrap;
 width: 7rem;
}


.btn svg {
 margin-right: 0.5rem;
}


.light .btn {
 background-color: var(--color-bright-snow);
 border: 0.0125rem solid var(--color-blue-slate);
 color: var(--color-shadow-grey);
}


.dark .btn {
 background-color: var(--color-shadow-grey);
 border: 0.0125rem solid var(--color-blue-slate);
 color: var(--color-bright-snow);
}
